

.welcome-popup {
  position: fixed;
  bottom: 100px; 
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-size: 16px;
  animation: fadeInOut 3s ease-in-out;
}

.Messages{
  height: 50%;
  background-color: #ffffff;
  border-radius: 5px;
  border-color: #D7D7D7;
  border-style: solid;
  overflow-y: scroll;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  80% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Logout Modal Animation */
.logout-modal {
  animation: popIn 0.3s ease-out forwards;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  max-width: 400px;
  text-align: center;
  z-index: 10;
}

/* Modal overlay */
.logout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}